<?xml version="1.0" encoding="utf-8"?>
<module productName="Geta EpiCategories" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.EpiCategories" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-epicategories" path="ClientResources/Scripts" />
        </paths>
    </dojo>
</module>