<div class="epi-categoryTreeNode dijitTreeNode" role="presentation">
    <a href="#" tabindex="-1" data-dojo-attach-point="rowNode" class="dijitTreeRow" role="presentation">
        <div data-dojo-attach-point="indentNode" class="dijitInline"></div>
        <span data-dojo-attach-point="contentNode" class="dijitTreeContent" role="presentation">
            <span data-dojo-attach-point="expandoNode" class="dijitTreeExpando" role="presentation"></span>
            <span data-dojo-attach-point="expandoNodeText" class="dijitExpandoText" role="presentation"></span>
            <span data-dojo-attach-point="iconNode" class="dijitIcon dijitTreeIcon" role="presentation"></span>    
            <span data-dojo-attach-point="thumbnailNode" class="epi-thumbnailIcon" role="presentation"></span>
            <span data-dojo-attach-point="extraIconsContainer" class="epi-extraIconsContainer" role="presentation">
                <span data-dojo-attach-point="iconNodeMenu" class="epi-extraIcon epi-pt-contextMenu" role="presentation" data-dojo-attach-event="onmousedown:_onMouseDownIconNodeMenu, click: _onClickIconNodeMenu">&nbsp;</span>
                <span data-dojo-attach-point="iconNodeLanguage" class="epi-extraIcon epi-pt-currentLanguageMissing" role="presentation">&nbsp;</span>
            </span>
            <span data-dojo-attach-point="labelNode" class="dijitTreeLabel" data-dojo-attach-event="onclick:_onLabelClick, keyup:_onLabelKeyUp" role="treeitem" tabindex="-1" aria-selected="false"></span>
        </span>
    </a>
    <div data-dojo-attach-point="containerNode" class="dijitTreeContainer" role="presentation" style="display: none;"></div>
</div>